/*header*/
body{
    font-family:'Trebuchet MS',Helvetica ,Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #7c7c7c;
}

#menu li a{
 
    font-family: 'Changa One', cursive;
    color:#333333;
    
}

#menu li a:hover,
#menu li.active a {
    color:#2fa0d5;
}

#frm-search{
    display: block;
    width: 169px;
    height: 32px;
    border: 1px solid #d5d5d5;
    padding: 4px 11px 6px;
    box-sizing: border-box;
    border-radius: 14px;
    margin: 0 10px;
}

#searchword{
    border: none;
    background:white;
    box-shadow: 0 0 0;
    padding:0 ;
}

#btn-search{
    border: none;
    width: 18px;
    background:url(../images/search_button.png) 0 0 no-repeat;

}

#social a {
    display:inline-block;
    margin-left: 5px;
    height: 25px;
    width: 27px;
    cursor: pointer;
}
#social a.twitter{
    background:url(../images/twitter.png) 0 0 no-repeat;
}

#social a.facebook{
    background:url(../images/facebook.png) 0 0 no-repeat;
}

#social a.twitter:hover {
    background:url(../images/twitter_active.png) 0 0 no-repeat;
}

#social a.facebook:hover {
    background:url(../images/facebook_active.png) 0 0 no-repeat;
}
/* /header*/

/*footer*/
#footer{
    background:url(../images/bg.gif) 0 0 repeat;
    text-align: center;
}
#footer ul {
    list-style:none;
   
}
#footer ul li{
    display: inline-block;
    margin:50px;
}


#footer li a{
    color: white;
    text-decoration: none;
}
#footer li a.active,
#footer li a:hover{
color:rgb(245, 112, 134) /*Hoi co lam sao tat duoc the co thuoc tinh active?*/
}
#copy-right{
    color: #7c7c7c;

}
a.privacy-policy{
    color: #7c7c7c;
    text-decoration:none;

}
.privacy-policy:hover{
    color:white;
}
/*footer*/

/*small-banner*/
#small-banner{
    background:url(../images/bg_slider.gif) 0 0 repeat;
    height: 10px;
   
}
/*/small-banner*/

/*blog*/
#blog h3{
    font: 60px 'Changa One', cursive;
    color:black;
}
#blog h4{
    font: 30px 'Changa One', cursive;
    color: black;
}

#blog img{
    width: 250px;
    height: 250px;
}

#liBlog ul li {
    list-style: url(../images/marker1.png);
    margin: 10px;
}